doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Flash Cards
  body
    header
      h1 Flash Cards
    section#content
      h2 Welcome, student!
    footer
      p This is a paragraph This is a paragraphThis is a paragraph.
