doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Flash Cards
  body
    include includes/header.pug
    if name
      h2 Welcome, #{name}!
        form(action='/goodbye', method='POST')
          button(type='submit') Goodbye
    block content
    include includes/footer.pug
