doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Sandbox
  body
    header
      h1 You're in the sandbox mofo
      section#table
        table
          tr
            th First Name 
            th Last Name
          -
              const names = [
              'Stephen Dawson',
              'Bob Frank',
              'Joe Blow',
              'Henry Green',
              'Thaddius Blue'
              ];
          each name in names
            - 
              var firstName = name.substr(0,name.indexOf(' '));
              var lastName = name.substr(name.indexOf(' ')+1);
            tr
              td= firstName
              td= lastName
      footer
        .container
          p
          | &copy; 2017 |
          i.fa.fa-github(aria-hidden='true') &nbsp;
          a(href='#') View Source
              
